
<div class="card" style="width: 18rem;">
     <img src="https://cdn.riastatic.com/photosnewr/auto/new_auto_storage/toyota-camry__1839786-620x465x72.webp" class="card-img-top" alt="...">
    <div class="card-body">
       <h4 class="card-title">Toyota</h4>
        <h6 class="card-title">Camry</h6>
          <p class="card-text">year: <b>2022</b>; color: <b>Silver</b></p>

        <p>
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Interior</a>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Exterior</button>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Safety</button>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Assistance:</button>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">Engine</button>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">Fuel_economy</button>
            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample7">Price</button>
        </p>
            <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <b>seats:</b>
                    <span>material: leather</span>
                    <span>color: black</span>
                    <span>haeted: yes</span>
                    <span>ventilated: yes</span>
                    <b>dashboard:</b>
                    <span>material: plastic</span>
                    <span>color: black</span>
                    <span>display:</span>
                    <ul>
                            <span>LCD</span>
                            <span>10.1</span>
                            <span>280x720</span>
                            <span> touchscreen: yes</span>
                    </ul>
                    <b>audio:</b>
                    <span>system: JBL</span>
                    <span>speakers: 8</span>
                    <span>subwoofer: yes</span>
                    <span>bluetooth: yes</span>
                    <span>USB: yes</span>
                </div>
                </div>
            </div>
            </div>
  
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <b>wheels:</b>
                        <span>size: 18</span>
                        <span>type: alloy</span>
                        <span>color: silver</span>
                    <b>headlights:</b>
                        <span>type: LED</span>
                        <span>brightness: high</span>
                        <span>automatic: yes</span>
                    <b>sunroof:</b>
                        <span>type: panoramic</span>
                        <span>size: large</span>
                        <span>automatic: yes</span>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="card card-body">
                    <b>airbags:</b>
                        <span>front: 2</span>
                        <span>side: 2</span>
                        <span>knee: 2</span>
                        <span>rear: 2</span>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                <div class="card card-body">
                        <b>blind_spot_monitoring:</b><span>yes</span>
                        <b>rear_cross_traffic_alert:</b><span>yes</span>
                        <b>lane_departure_warning:</b><span>yes</span>
                        <b>adaptive_cruise_control:</b><span>yes</span>
                        <b>collision_warning:</b><span>yes</span>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample5">
                <div class="card card-body">
                        <b>type:</b><span>gasoline</span>
                        <b>displacement:</b><span> 2.5</span>
                        <b>horsepower:</b><span>206</span>
                        <b>torque:</b><span>186</span>
                        <b>transmission:</b>
                        <ul>
                            <span>type: automatic</span>
                            <span>gears: 8</span>
                        </ul>
                </div>
                </div>
            </div>

            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample6">
                <div class="card card-body">
                    <b>city:</b><span>28</span>
                    <b>highway:</b><span>39</span>
                    <b>combined:</b><span>32</span>
                </div>
                </div>
             </div>

            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample7">
                <div class="card card-body">
                        <b>base:</b><span>25900$</span>
                        <b>destination:</b><span>995$</span>
                        <b>options:</b><span>995$</span>
                        <ul>
                        <h6>navigation:</h6><span>1200$</span>
                        <h6>moonroof:</h6><span>800$</span>
                        <h6>premium_paint:</h6><span>595$</span>
                        </ul>
                        <b>total:</b><span>28990$</span>
                </div>
                </div>
            </div>
    </div>
</div>
