<div>
    {{#with main}}
     <main> 
        <section>
          <b> {{> title big=true data="My Educationss"}}</b>
            <ul>
                {{#each education}}
                <li>{{name}}
                  {{#unless isEnd}} 
                  (ще в процесі)
                  {{/unless}}
                </li>
                {{/each}}
            </ul>
        </section>
            <section>
              <b> {{> title data="My Sertificates"}}</b>
            <ul>
              {{#each sertificates}}
              <li>{{name}}
              {{#if id includeZero=true}} ({{id}}) {{/if}}
              </li>
              {{/each}}
            </ul>
        </section>
     </main>
     {{/with}}
</div>